body {
    font-family:"Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
}
img {
  display: block;
  max-width: 100%;
}

button {
    cursor: pointer;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}
a {
    text-decoration: none;
    color: #2E2F42;
    font-style: normal;
}
ul {
    list-style-type: none;
}

ul, ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

main {
    flex-grow: 1;
    min-height: 100vh;
}

section {
    padding: 120px 0;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* /* header-page */

.nav-container {
    display: flex;
    align-items: center;
}

.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.navbar-logo {
    display: flex;
    align-items: center;
}   

.first-logo {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 76px;
}

.first-web {
    color: #2e2f42;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.nav-list {
    display: flex;
    gap: 40px;
}



.current-page {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page::after {
    content: '';
    position: absolute;
    background-color: rgba(64, 75, 191, 1);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
}



.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:focus {
    color: #404bbf;
}

.menu:hover {
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.contact-list-item {
    
}
.email {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.email:focus {
    color: #404BBF;
}

/* hero */

.header-section {
    
    background-color: #2E2F42;
    background-image: 
    linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
     url(../images/backgrounds/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    text-align: center;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}


.main-title {
    font-weight: 700;
    max-width: 496px;
    margin: 0 auto;
    color: #FFFFFF;
    line-height: 1.07;
    font-size: 56px;
    text-align: center;
    letter-spacing: 0.02em;
}

.order-button {
    display: block;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    background-color: #4D5AE5;
   color: #FFFFFF;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   border: none;
   border-radius: 4px;
   padding: 16px 32px;
   margin-top: 48px;
   margin-left: auto;
   margin-right: auto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

/* charachteristics */

.characteristics-container {
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.characteristics {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.characteristics-list {
    gap: 24px;
    display: flex;
}

.characteristics-list-item {
    width: calc((100% - 72px) / 4);
}

.icon-characteristics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-width: 1px;
    border-radius: 4px;
    border-color: #8E8F99;
    border-style: solid;
    background-color: #F4F4FD;
    margin-bottom: 8px;
}

.objects-icons {
   
}

.definition {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* team section */

.team-section {
    background-color: #F4F4FD;
    text-align: center;
}

.team-container {
    padding: 0px 15px;
}

.our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
     0px 1px 1px 0px rgba(46, 47, 66, 0.16),
     0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-content {
    padding: 32px 0;
}

.members {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.team-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-icons-list-item {
    width: 40px;
    height: 40px;
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.circle:hover, 
.circle:focus {
    background-color: #404BBF;
}

.team-media-icon {
    fill: #f4f4fd;
}

/* portfolio section  */

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.img-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}

.overlay {
    position: absolute;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.app-content {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.projects {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.form {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* bottom */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 100px 0;
}
.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-first-box {
    margin-right: 120px;
}

.last-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    display: inline-block;
    margin-bottom: 16px;
}

.dark-studio {
    color: #f4f4fd;
}

.bottom-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.social-meadia-text {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.icons-socials-footer {
    display: flex;
    gap: 16px;
}

.icons-socials-footer-list {
    width: 40px;
    height: 40px;
}

.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}




